.navbar{
    display: flex;
    background-color:#52b2bf;
    justify-content: space-between;
}

.searchBar{
    flex:1;
}

.Cart {
    color :white
}

.Profile{
    color :white
}

.MyLibrary{
    color :white
}
